<!-- HEADER line -->
<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="span12">
				<h1>Invadopodia Puncta Threshold Testing</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<form class="form-horizontal" enctype="multipart/form-data" method="post">
				<fieldset>

					<div class="control-group">
						<label class="control-label" for="puncta_image">Puncta Image</label>
						<div class="controls">
							<input type="file" name="puncta_image">
							<span class="help-inline">TIFF formatted image of the actin puncta</span> 
						</div>
					</div>

					<!-- The Submit buttons -->
					<div class="form-actions"> 
						<button type="submit" class="btn btn-primary">Submit Experiment</button> 
					</div> 

				</fieldset>
			</form>

		</div>
	</div>
</div>
